@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  /* Cores */
  --color-primary-300: #0547a6;
  --color-primary-500: #294281;
  --color-primary-600: #14254f;
  --color-primary-900: #07122e;

  /* Fontes */
  --color-placeholder: #8a8e8f;
  /* Fontes */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  color: white;
}
